.dogBreedImg {
    width: 100%;
    height: inherit;
}

.carousel-caption {
    color: lightyellow;
    font-size: 1em;
    font-weight: bold;
    /* margin: unset; */
}

.carousel-item {
    height: 20em;
}