.tip, select, .descText {
    font-style: italic;
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tip {
    height: 20em;
    background-image: linear-gradient(to right,rgb(122, 235, 235),gray);
    background-size: 80em;
    color: white;
    padding: 2em;
}

select {
    border-color: rgb(122, 235, 235);
}

.descBg {
    background-image: url("../image/blackwhitedoggy.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    height:35%;
}

.descText {
    background-color: rgba(255, 255, 255, 0.5);
    /* height: 90%;
    width: 90%; */
    height: 100%;
    padding: 2em;
}